.index-page .squares,
.register-page .square,
.register-page .squares,
.section.section-signup .square,
.section.section-signup .squares {
  background: #ec250d;
  background: linear-gradient(0deg, #ec250d 0, #fd5d93 100%);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}
